<.simple_form :let={f} for={@changeset} action={~p"/users"}>
  <.input field={f[:name]} type="text" label="Name" />
  <.input field={f[:username]} type="text" label="Username" />
  <.input field={f[:password]} type="text" label="Password" />
  <:actions>
    <.button>Save User</.button>
  </:actions>
</.simple_form>
