<.header>
  Log in
</.header>

<.simple_form :let={f} for={} action={~p"/sessions"}>
  <.input field={f[:username]} type="text" label="Username" />
  <.input field={f[:password]} type="text" label="Password" />
  <:actions>
    <.button>Log in</.button>
  </:actions>
</.simple_form>